*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1140px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', system-ui, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 30px;
  inline-size: 1140px;
  block-size: 534px;
}

/*---------------------------- section result ----------------------*/
/*-------------- video --------------*/
.result {
  inline-size: 711px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.result__video-container {
  inline-size: 711px;
  padding: 0 0 10px 0;
  position: relative;
}

.result__video {
  inline-size: inherit;
  block-size: 386px;
  object-fit: cover;
  object-position: center;
}

/*------------ forms --------------*/

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  padding-block-end: 5px;
  color: #fff;
  font-family: 'Fira Sans Condensed', system-ui, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.search-form__label {
  width: fit-content;
  color: #fff;
  font-family: 'Fira Sans Condensed', system-ui, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  padding: 1px;
}

.search-form__label:has(:focus) {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label-text {
  line-height: 1;
}

.search-form__label:has(input[type='checkbox']):hover,
.button:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.search-form__textfield {
  width: 225px;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  border-inline-start: transparent;
  border-inline-end: transparent;
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', system-ui, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
}
.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Fira Sans Condensed', system-ui, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__checkbox-list {
  display: flex;
  column-gap: 13px;
  justify-content: center;
  align-items: flex-end;
}

.search-form__pseudo-checkbox {
  display: flex;
  inline-size: 19px;
  block-size: 19px;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  cursor: pointer;
  margin-inline-end: 5px;
}

.search-form__pseudo-checkbox::before {
  content: '';
  display: block;
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  opacity: 1;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/*-------------------------- BUTTON ----------------------*/

.search-form__submit-button {
  inline-size: 194px;
}

.button {
  min-block-size: 34px;
  border: 1px solid #fff;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: 'Fira Sans Condensed', system-ui, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: flex-end;
}

.button:active {
  text-decoration: none;
  background: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.more-button {
  width: 99%;
  margin: 2px;
}

/*---------------------------- section content details ----------------------*/
.content__details {
  inline-size: 100%;
  block-size: 100%;
  padding: 0px;
}

.title {
  font-family: Oswald, system-ui, sans-serif;
  color: #fff;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  padding: 2px 0 20px 0;
  word-spacing: 5px;
}

.content__accent {
  color: #545050;
}

.content__list {
  block-size: 296px;
  overflow: auto;
  position: relative;
}

.content__list-item:not(:last-child) {
  padding-block-end: 32px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 2px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald, system-ui, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  padding: 4px 0 5px 1px;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed', system-ui, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
}
